$primaryColor: #444;
$secondaryColor: rgb(15, 204, 230);
$backgroundOpacity: 0.9;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$backgroundImage: url("../assets/background_image.png");

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}

@mixin background {
  background: $backgroundImage;
  background-size: cover;
  background-attachment: fixed;
}

@mixin transformImage {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 1, 0.5);
  transition: all 0.5s cubic-bezier(1, 0, 1, 0.5);
}

@mixin card_hover {
  &:hover {
    @include easeOut;
    box-shadow: 0 3.5px 8px 0 lighten($primaryColor, 2);
  }
}

@function change_color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
